
*{
    margin:0px;
    padding:0px;

}


.formregis{

    width:400px;
    padding:50px;
    background-color: rgb(30, 41, 197);
    margin: auto;
    margin-top:100px ;
    border-radius: 15x;
    border-radius: 10px;

}
.formregis h1 {
    font-size:  35px;
    color: rgb(0, 0, 0);


}
.inputs  {
width: 350px;
padding: 5px;
border-bottom: 25px;
background-color: rgb(31, 144, 243);
margin-bottom: 20PX;
border-radius: 8px;
margin-bottom: 10px;

border: 1px solid rgb(7, 7, 7);


}
.input{
    margin-left: 1003px;
}
.boton{
    padding: 10px;
    border-radius: 8px;
margin-top: 50px;
margin-left: 155px;
background-color: rgb(31, 144, 243);


.forcontacto{

    width:400px;
    padding:50px;
    background-color: rgb(30, 41, 197);
    margin: auto;
    margin-top:100px ;
    border-radius: 15x;
    border-radius: 10px;

}
.forcontacto h1 {
    font-size:  35px;
    color: rgb(0, 0, 0);


}
.inputs  {
width: 350px;
padding: 5px;
border-bottom: 25px;
background-color: rgb(31, 144, 243);
margin-bottom: 20PX;
border-radius: 8px;
margin-bottom: 10px;

border: 1px solid rgb(7, 7, 7);


}
.input{
    margin-left: 1003px;
}
.boton{
    padding: 10px;
    border-radius: 8px;
margin-top: 50px;
margin-left: 155px;
background-color: rgb(31, 144, 243);

}




}



